@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-double49:before {
	content: "\e000";
}
.flaticon-dragon4:before {
	content: "\e001";
}
.flaticon-halloween75:before {
	content: "\e002";
}
.flaticon-heart127:before {
	content: "\e003";
}
.flaticon-heart208:before {
	content: "\e004";
}
.flaticon-lightning15:before {
	content: "\e005";
}
.flaticon-multiple23:before {
	content: "\e006";
}
.flaticon-multiple24:before {
	content: "\e007";
}
.flaticon-ornamental3:before {
	content: "\e008";
}
.flaticon-pendant:before {
	content: "\e009";
}
.flaticon-polygonal:before {
	content: "\e00a";
}
.flaticon-polygonal1:before {
	content: "\e00b";
}
.flaticon-polygonal10:before {
	content: "\e00c";
}
.flaticon-polygonal11:before {
	content: "\e00d";
}
.flaticon-polygonal12:before {
	content: "\e00e";
}
.flaticon-polygonal13:before {
	content: "\e00f";
}
.flaticon-polygonal14:before {
	content: "\e010";
}
.flaticon-polygonal15:before {
	content: "\e011";
}
.flaticon-polygonal16:before {
	content: "\e012";
}
.flaticon-polygonal17:before {
	content: "\e013";
}
.flaticon-polygonal18:before {
	content: "\e014";
}
.flaticon-polygonal19:before {
	content: "\e015";
}
.flaticon-polygonal2:before {
	content: "\e016";
}
.flaticon-polygonal20:before {
	content: "\e017";
}
.flaticon-polygonal21:before {
	content: "\e018";
}
.flaticon-polygonal22:before {
	content: "\e019";
}
.flaticon-polygonal23:before {
	content: "\e01a";
}
.flaticon-polygonal24:before {
	content: "\e01b";
}
.flaticon-polygonal25:before {
	content: "\e01c";
}
.flaticon-polygonal26:before {
	content: "\e01d";
}
.flaticon-polygonal27:before {
	content: "\e01e";
}
.flaticon-polygonal28:before {
	content: "\e01f";
}
.flaticon-polygonal29:before {
	content: "\e020";
}
.flaticon-polygonal3:before {
	content: "\e021";
}
.flaticon-polygonal30:before {
	content: "\e022";
}
.flaticon-polygonal31:before {
	content: "\e023";
}
.flaticon-polygonal32:before {
	content: "\e024";
}
.flaticon-polygonal33:before {
	content: "\e025";
}
.flaticon-polygonal34:before {
	content: "\e026";
}
.flaticon-polygonal35:before {
	content: "\e027";
}
.flaticon-polygonal36:before {
	content: "\e028";
}
.flaticon-polygonal37:before {
	content: "\e029";
}
.flaticon-polygonal38:before {
	content: "\e02a";
}
.flaticon-polygonal39:before {
	content: "\e02b";
}
.flaticon-polygonal4:before {
	content: "\e02c";
}
.flaticon-polygonal40:before {
	content: "\e02d";
}
.flaticon-polygonal41:before {
	content: "\e02e";
}
.flaticon-polygonal42:before {
	content: "\e02f";
}
.flaticon-polygonal43:before {
	content: "\e030";
}
.flaticon-polygonal44:before {
	content: "\e031";
}
.flaticon-polygonal45:before {
	content: "\e032";
}
.flaticon-polygonal46:before {
	content: "\e033";
}
.flaticon-polygonal47:before {
	content: "\e034";
}
.flaticon-polygonal48:before {
	content: "\e035";
}
.flaticon-polygonal49:before {
	content: "\e036";
}
.flaticon-polygonal5:before {
	content: "\e037";
}
.flaticon-polygonal50:before {
	content: "\e038";
}
.flaticon-polygonal51:before {
	content: "\e039";
}
.flaticon-polygonal52:before {
	content: "\e03a";
}
.flaticon-polygonal53:before {
	content: "\e03b";
}
.flaticon-polygonal54:before {
	content: "\e03c";
}
.flaticon-polygonal55:before {
	content: "\e03d";
}
.flaticon-polygonal56:before {
	content: "\e03e";
}
.flaticon-polygonal57:before {
	content: "\e03f";
}
.flaticon-polygonal58:before {
	content: "\e040";
}
.flaticon-polygonal59:before {
	content: "\e041";
}
.flaticon-polygonal6:before {
	content: "\e042";
}
.flaticon-polygonal60:before {
	content: "\e043";
}
.flaticon-polygonal61:before {
	content: "\e044";
}
.flaticon-polygonal62:before {
	content: "\e045";
}
.flaticon-polygonal63:before {
	content: "\e046";
}
.flaticon-polygonal64:before {
	content: "\e047";
}
.flaticon-polygonal65:before {
	content: "\e048";
}
.flaticon-polygonal66:before {
	content: "\e049";
}
.flaticon-polygonal67:before {
	content: "\e04a";
}
.flaticon-polygonal68:before {
	content: "\e04b";
}
.flaticon-polygonal69:before {
	content: "\e04c";
}
.flaticon-polygonal7:before {
	content: "\e04d";
}
.flaticon-polygonal70:before {
	content: "\e04e";
}
.flaticon-polygonal71:before {
	content: "\e04f";
}
.flaticon-polygonal72:before {
	content: "\e050";
}
.flaticon-polygonal73:before {
	content: "\e051";
}
.flaticon-polygonal8:before {
	content: "\e052";
}
.flaticon-polygonal9:before {
	content: "\e053";
}
.flaticon-side7:before {
	content: "\e054";
}
.flaticon-star85:before {
	content: "\e055";
}
.flaticon-star86:before {
	content: "\e056";
}
.flaticon-star89:before {
	content: "\e057";
}
.flaticon-star90:before {
	content: "\e058";
}
.flaticon-star92:before {
	content: "\e059";
}
.flaticon-star93:before {
	content: "\e05a";
}
.flaticon-synergy:before {
	content: "\e05b";
}
.flaticon-triangle20:before {
	content: "\e05c";
}
.flaticon-triangle21:before {
	content: "\e05d";
}
.flaticon-triangle22:before {
	content: "\e05e";
}
.flaticon-triangles:before {
	content: "\e05f";
}
.flaticon-triangular31:before {
	content: "\e060";
}
.flaticon-triple12:before {
	content: "\e061";
}
.flaticon-witch5:before {
	content: "\e062";
}
